.button {
    
  border: black solid 3px;
  
  border-radius: 5px;
    
  position: relative;
  
  font-family: 'Roboto', sans-serif;
  
  font-size: 20px;
    
  margin-left: 40%;
  
  margin-top: 150px;
  
  margin-right: 40%;
  
  min-width: 20%;
  
  height: 50px;
    
}

.button:hover {
    
  background-color: #cfcfcf;
    
}